#Classes
public net.minecraft.world.biome.BiomeColorHelper$ColorResolver

#Fields
public net.minecraft.client.audio.MusicTicker field_147678_c # currentMusic
public net.minecraft.util.math.BlockPos$MutableBlockPos field_177997_b # x
public net.minecraft.util.math.BlockPos$MutableBlockPos field_177996_d # z
public net.minecraft.world.biome.BiomeProvider field_76942_f # biomeCache
public net.minecraft.world.biome.BiomeProvider field_76945_e # biomeIndexLayer
public-f net.minecraft.world.biome.BiomeProvider field_76943_g # biomesToSpawnIn
public net.minecraft.world.biome.BiomeProvider field_76944_d # genBiomes
public net.minecraft.world.gen.ChunkGeneratorEnd field_73231_z # biomesForGeneration
public net.minecraft.world.gen.ChunkGeneratorEnd field_185974_p # buffer
public net.minecraft.world.gen.ChunkGeneratorEnd field_185972_n # endCityGen
public net.minecraft.world.gen.ChunkGeneratorEnd field_185975_r # endIslands
public net.minecraft.world.gen.ChunkGeneratorEnd field_185973_o # islandNoise
public net.minecraft.world.gen.ChunkGeneratorEnd field_185969_i # lperlinNoise1
public net.minecraft.world.gen.ChunkGeneratorEnd field_185970_j # lperlinNoise2
public net.minecraft.world.gen.ChunkGeneratorEnd field_73229_q # mapFeaturesEnabled
public net.minecraft.world.gen.ChunkGeneratorEnd field_185971_k # perlinNoise1
public net.minecraft.world.gen.ChunkGeneratorEnd field_73220_k # rand
public net.minecraft.world.gen.ChunkGeneratorEnd field_191061_n # spawnPoint
public net.minecraft.world.gen.ChunkGeneratorEnd field_73230_p # world
public net.minecraft.world.gen.ChunkGeneratorHell field_185955_s # depthBuffer
public net.minecraft.world.gen.ChunkGeneratorHell field_185953_o # generateStructures
public net.minecraft.world.gen.ChunkGeneratorHell field_73172_c # genNetherBridge
public net.minecraft.world.gen.ChunkGeneratorHell field_185939_I # genNetherCaves
public net.minecraft.world.gen.ChunkGeneratorHell field_73184_r # gravelNoise
public-f net.minecraft.world.gen.ChunkGeneratorHell field_189888_D # magmaGen
public net.minecraft.world.gen.ChunkGeneratorHell field_73174_n # netherrackExculsivityNoiseGen
public net.minecraft.world.gen.ChunkGeneratorHell field_185954_p # rand
public net.minecraft.world.gen.ChunkGeneratorHell field_73177_m # slowsandGravelNoiseGen
public net.minecraft.world.gen.ChunkGeneratorHell field_73185_q # slowsandNoise
public net.minecraft.world.gen.ChunkGeneratorHell field_185952_n # world
public-f net.minecraft.world.DimensionType field_186077_g # clazz
public net.minecraft.world.WorldProviderEnd field_186064_g # dragonFightManager

#Methods
public net.minecraft.world.biome.BiomeColorHelper func_180285_a(Lnet/minecraft/world/IBlockAccess;Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/world/biome/BiomeColorHelper$ColorResolver;)I # getColorAtPos
public net.minecraft.world.biome.BiomeDecorator func_76795_a(Lnet/minecraft/world/World;Ljava/util/Random;ILnet/minecraft/world/gen/feature/WorldGenerator;II)V # genStandardOre1
public net.minecraft.world.gen.ChunkGeneratorEnd func_185963_a([DIIIIII)[D # getHeights
public net.minecraft.world.gen.ChunkGeneratorEnd func_185960_a(IIII)F # getIslandHeightValue